{{!< main}}



    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" id="navbar">
        <div class="container-fluid">
            <p class="navbar-brand mb-0 text-logo">Sopote de Tickets</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" id="text-nav" aria-current="page" href="#nuestra-empresa">Nuestra
                                Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#equipo">Equipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                    <div class="d-flex mt-1">
                        <a href="/login" class="btn btn-outline-primary" role="button">Iniciar Sesión</a>
                        <a href="/registro" class="btn btn-outline-danger ms-2" role="button">Regístrate</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {{!-- card --}}
    <div class="container" id="nuestra-empresa">
          <h1>Sistema de Tickets para Soporte Técnico</h1>
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/imgs/img_card1.jpg" class="img-fluid rounded-start" alt="Img-empresa">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body bg-light">
                                <h2 class="card-title fw-bold text-center mb-3">Nuestra Empresa</h2>
                                <p class="card-text  text-justify">Nuestra empresa ofrece soporte técnico integral para
                                    asegurar el funcionamiento óptimo de sus sistemas, disponibles 24/7. Servicios
                                    incluyen instalación y configuración de software y hardware, resolución de
                                    problemas, mantenimiento, y gestión de redes y seguridad informática. También
                                    brindamos consultoría personalizada para optimizar recursos tecnológicos y mejorar
                                    la eficiencia operativa, garantizando soluciones efectivas adaptadas a cada cliente.
                                </p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--Section Nuestra Empresa -->

    <div class="container my-5" id="servicios">
        <div class="row">
            <div class="col-12">
                <div class="text-center p-5 bg-light border rounded">
                    <h2 class="fw-bold mb-5">Somos tu Solución</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dapibus nisi.
                        Sed fermentum purus ac tempor vulputate.</p>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec dapibus
                        nisi. Sed fermentum purus ac tempor vulputate.</p>
                </div>
            </div>
        </div>



        <div class="row" id="equipo">
            <div class="col-12">
                <div class="card">
                    <img src="/imgs/img_card2.jpg" class="card-img-top" alt="imagen-atención">
                    <div class="card-body bg-light">
                        <h2 class="card-title text-center fw-bold ">Nuestro equipo</h2>
                        <p class="card-text text-center">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text text-center"><small class="text-body-secondary ">Last updated 3 mins
                                ago</small></p>
                        <div class="d-flex justify-content-center">
                            <a href="#navbar" class="btn btn-primary ">Ir al Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

