{{!< main}}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <div class="container-fluid">
            <p class="navbar-brand mb-0 text-logo">Soporte de Tickets</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" id="navbarNav">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a href="/" class="btn btn-outline-primary mt-2" role="button">Volver a Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="content flex-grow-1 d-flex flex-column justify-content-start align-items-center">
        <div class="container">
            <!-- Formulario de Registro -->
            <div class="form-container">
                <form action="/registro" method="POST">
                    <h2>Registro</h2>
                    <div class="mb-3">
                        <label for="inputUsuario" class="form-label fw-bold">Usuario</label>
                        <input type="text" class="form-control custom-border" id="inputUsuario" name="nombre"
                            placeholder="Ingresa tu nombre de usuario">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label fw-bold">Email address</label>
                        <input type="email" class="form-control custom-border" id="inputEmail" name="email"
                            aria-describedby="emailHelp" placeholder="Ingresa tu email">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control custom-border" id="inputPassword" name="password"
                            placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button id="loginButton" type="submit" class="btn btn-primary">Regístrate</button>
                    </div>

                    <!-- Toast -->
                    <div class="toast-container">
                        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <strong class="me-auto fw-bold text-danger">Atención, hay un error!</strong>
                                <button type="button" class="btn-close" data-bs-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                Ingresa todos los campos o regístrate.
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

