{{!< main}}
    <div class="background-image"></div>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center">
            <div class="card-header">
                Bienvenido!!
            </div>
            <div class="card-body">
                <h5 class="card-title">Tu usuario se ha registrado correctamente</h5>
                <p class="card-text">Serás redirigido a la página principal en 6 segundos...</p>
                <div id="contador">6</div>
            </div>
            <div class="card-footer text-body-secondary" id="fechaRegistro">
                <!-- Fecha de registro será insertada aquí -->
            </div>
        </div>
    </div>
